<configuration>

    <!-- Console Appender for System.log/Bootstrap -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

<!--    &lt;!&ndash; File Appender for Bootstrap &ndash;&gt;-->
<!--    <appender name="BOOTSTRAP_LOGS" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/Bootstrap.log</file>-->
<!--        <encoder>-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Appender for ApiEngine &ndash;&gt;-->
<!--    <appender name="API_ENGINE_LOGS" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/ApiEngine.log</file>-->
<!--        <encoder>-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Appender for DiscoveryEngine &ndash;&gt;-->
<!--    <appender name="DISCOVERY_ENGINE_LOGS" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/DiscoveryEngine.log</file>-->
<!--        <encoder>-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Appender for PollingEngine &ndash;&gt;-->
<!--    <appender name="POLLING_ENGINE_LOGS" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/PollingEngine.log</file>-->
<!--        <encoder>-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Appender for ConfigServiceManager &ndash;&gt;-->
<!--    <appender name="CONFIG_SERVICE_MANAGER_LOGS" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/ConfigServiceManager.log</file>-->
<!--        <encoder>-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Appender for Utils &ndash;&gt;-->
<!--    <appender name="UTILS_LOGS" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/Utils.log</file>-->
<!--        <encoder>-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->


    <!-- Root Logger -->
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

<!--    &lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--    <logger name="com.motadata.Bootstrap" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="BOOTSTRAP_LOGS"/>-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

<!--    &lt;!&ndash; ApiEngine &ndash;&gt;-->
<!--    <logger name="com.motadata.api.APIServer" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="API_ENGINE_LOGS"/>-->
<!--    </logger>-->

<!--    &lt;!&ndash; DiscoveryEngine &ndash;&gt;-->
<!--    <logger name="com.motadata.engine.DiscoveryEngine" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="DISCOVERY_ENGINE_LOGS"/>-->
<!--    </logger>-->

<!--    &lt;!&ndash; PollingEngine &ndash;&gt;-->
<!--    <logger name="com.motadata.engine.PollingEngine" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="POLLING_ENGINE_LOGS"/>-->
<!--    </logger>-->

<!--    &lt;!&ndash; ConfigServiceManager &ndash;&gt;-->
<!--    <logger name="com.motadata.manager.ConfigServiceManager" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="CONFIG_SERVICE_MANAGER_LOGS"/>-->
<!--    </logger>-->

<!--    &lt;!&ndash; Utils &ndash;&gt;-->
<!--    <logger name="com.motadata.utils.Utils" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="UTILS_LOGS"/>-->
<!--    </logger>-->

<!--    &lt;!&ndash; Config &ndash;&gt;-->
<!--    <logger name="com.motadata.config.Config" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="UTILS_LOGS"/>-->
<!--    </logger>-->

</configuration>
