<configuration>

    <!-- Console Appender for System.log/Bootstrap -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <!-- File Appender for Bootstrap -->
    <appender name="SYSTEM_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/System.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for API Server -->
    <appender name="API_SERVER_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ApiServer.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for ConfigDB -->
    <appender name="CONFIG_DB_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ConfigDB.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Utils -->
    <appender name="UTILS_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/Utils.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Requester -->
    <appender name="REQUESTER_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/Requester.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Requester -->
    <appender name="ResponseReceiver_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ResponseReceiver.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for ResponseParser -->
    <appender name="RESPONSE_PARSER_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ResponseParser.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Scheduler -->
    <appender name="SCHEDULER_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/Scheduler.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- System -->
    <logger name="com.motadata.Bootstrap" level="TRACE" additivity="false">
        <appender-ref ref="SYSTEM_FILE"/>
    </logger>

    <!-- API Server -->
    <logger name="com.motadata.api.APIServer" level="TRACE" additivity="false">
        <appender-ref ref="API_SERVER_FILE"/>
    </logger>


    <logger name="com.motadata.engine.ResponseReceiver" level="TRACE" additivity="false">
        <appender-ref ref="ResponseReceiver_FILE"/>
    </logger>

    <!-- ConfigDB -->
    <logger name="com.motadata.database.ConfigDB" level="TRACE" additivity="false">
        <appender-ref ref="CONFIG_DB_FILE"/>
    </logger>

    <!-- Utils -->
    <logger name="com.motadata.utils.Utils" level="TRACE" additivity="false">
        <appender-ref ref="UTILS_FILE"/>
    </logger>

    <logger name="com.motadata.engine.Requester" level="TRACE" additivity="false">
        <appender-ref ref="REQUESTER_FILE"/>
    </logger>
    <logger name="com.motadata.engine.ResponseParser" level="TRACE" additivity="false">
        <appender-ref ref="RESPONSE_PARSER_FILE"/>
    </logger>
    <logger name="com.motadata.engine.Scheduler" level="TRACE" additivity="false">
        <appender-ref ref="SCHEDULER_FILE"/>
    </logger>


</configuration>
